@tailwind base;
@tailwind components;
@tailwind utilities;

.light-border {
  border-width: 0.1mm;
}

.light-border-b {
  border-bottom-width: 0.1mm;
}

.light-border-r {
  border-right-width: 0.1mm;
}

.light-border-l {
  border-left-width: 0.1mm;
}

.light-border-t {
  border-top-width: 0.1mm;
}